.content-inner {
    height: 46px;
    width: 323px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    margin-block: 0.4rem;
}

.content-inner img {
    height: 46px;
    width: 60px;
    justify-self: flex-start;
}

.content-inner h4 {
    justify-self: center;
    padding-right: 1rem;
    font-family: var(--ff-main);
}